.main-cart {
    position: absolute;
    right: 20px;
    top: 4.3rem;
    z-index: 999;
    width: 400px;
    max-height: 70vh;
    background-color: white;
    padding: 20px;
    box-shadow: 6px 16px 38px -14px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 6px 16px 38px -14px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 6px 16px 38px -14px rgba(0, 0, 0, 0.67);
    overflow-y: scroll;

    h1 {
        margin-bottom: 20px;
        color: gray;
        font-weight: 400;
        font-size: 24px;
    }
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 20px;
        img {
            width: 80px;
            height: 100%;
            object-fit: cover;
        }

        .details {
            h1 {
                font-weight: 500;
                font-size: 17px;
            }
            p {
                color: grey;
                margin-bottom: 10px;
                font-size: 14px;
            }
            .price {
                color: #e76f51;
            }
        }
        .delete {
            color: red;
            font-size: 50px;
            cursor: pointer;
        }
    }
    .total {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 15px;
    }

    button {
        width: 250px;
        padding: 10px;
        background-color: #e76f51;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
    }
    button[disabled] {
        background-color: #e0bab0;
        cursor: default;
    }
    .reset {
        display: inline-block;
        color: red;
        cursor: pointer;
        font-size: 15px;
        margin-top: 10px;
    }
    .loading-icon {
        font-size: 1.3rem;
        animation: animate 2s infinite;
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(720deg);
        }
    }
}
