.navbar {
    -webkit-box-shadow: -3px 2px 18px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 2px 18px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 2px 18px -6px rgba(0, 0, 0, 0.75);
    background-color: #a8dadc;
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    // z-index: 3;
    .container {
        margin: auto;
        width: 80%;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        // color: #1d3557;
        a {
            text-transform: none;
        }
    }
    .center {
        h3 {
            font-size: 1.1rem;
            letter-spacing: 0.13rem;
            font-weight: 100;
        }
    }
    .right {
        cursor: pointer;

        .cartIcon {
            position: relative;
            .cart {
                font-size: 1.5rem;
            }
            span {
                font-size: 14px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                color: white;
                background-color: rgb(87, 87, 244);
                position: absolute;
                right: -10px;
                top: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .center {
        display: none;
    }
}
